<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
          <img src="https://cdn-icons-png.flaticon.com/512/3418/3418886.png" alt="" width="40px">

          <!-- turn this link into a button -->
          <div>
          <%= link_to "All lists", lists_path, class: "btn btn-outline-secondary" %>
          <%= link_to "Create a new list", new_list_path, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <div class="container justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
